.btn
    border-radius: 8px
    cursor: pointer
    transition: .5s background
    background: var(--colorInput)
    color: var(--colorText)
    padding: 7px 10px
    width: 180px
    height: 60px
    font-size: 20px
    &:hover
        background: var(--colorInputHover)
        &:active
            background: var(--colorInputPressed)
    &_green
        position: absolute
        right: 34px
        bottom: 38px
        background: #1F4F3B
        color: #B09A81
        z-index: 10
        width: 140px
        height: 55px
        font-size: 18px
        &:hover
            background: #2D653A
            &:active
                background: #2D653A

    &_add
        font-size: 16px
        width: 137px
        position: absolute
        right: 0
        bottom: 0
        height: 36px
        background: var(--colorInput)
        color: var(--colorText)
        padding: 0 16px
        text-align-last: left
        font-size: 16px
        &::before
            content: ""
            position: absolute
            display: block
            height: 2px
            width: 15px
            right: 10px
            top: 50%
            transform: translate(0, 50%)
            background: var(--colorText)
        &::after
            content: ""
            position: absolute
            display: block
            height: 15px
            width: 2px
            right: 16px
            top: 35%
            background: var(--colorText)
