.card
    &__card
        width: 410px
        height: 100%
        color: white
        position: relative
        background: #B09A81
        border-radius: 8px
        overflow: hidden
        margin-right: 20px
        transition: transform .4s
        &:hover
            z-index: 5
            transform: scale(1.05)
        &:last-of-type
            margin-right: 0
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 6px
        &:last-of-type
            padding-bottom: 0
    &__description
        width: 100%
        max-width: 100%
        height: 100%
        padding: 16px 16px 9px 16px
        position: relative
    &__title
        width: 50%
        text-align: left
        font-size: 36px
        line-height: 42px
        position: absolute
        bottom: 180px
        left: 23px
        z-index: 20
    &__specifications
        width: 100%
        height: 157px
        max-width: 100%
        padding: 25px 15px 29px 16px
        font-size: 18px
        position: absolute
        bottom: 0
        left: 0
        display: flex
        flex-direction: column
        justify-content: space-between
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 18px
    &__img-wrapper
        width: 100%
        max-width: 100%
        position: absolute
        top: 0
        left: 0
        height: 395px
    &__img
        width: 100%
        height: 100%
    &__close
        display: none
