.characters
    width: 100%
    min-height: calc( 100vh - 100px )
    background: url(../../assets/icons/background/Bg-Characters.jpg)
    padding-top: 26px

.input
    width: 100%
    max-width: 100%
    margin-bottom: 20px
    position: relative
    &__search
        width: 100%
        height: 50px
        background: var(--colorInput)
        color: var(--colorText)
        margin-bottom: 15px
        font-size: 18px
    &__filters
        display: flex
        justify-content: start
        align-items: center
        height: 36px
        position: relative
    &__item
        width: 137px
        min-width: 137px
        max-width: 310px
        max-height: 100%
        position: relative
        margin-right: 15px
        transition: .5s all
        &:last-child
            margin-right: 0
    &__arrow
        display: block
        cursor: pointer
        position: absolute
        right: 15px
        top: 13px
        height: 7px
        width: 7px
        border-bottom: 1px solid var(--colorText)
        border-left: 1px solid var(--colorText)
        transform: rotate(-45deg)

.select
    overflow: hidden
    position: absolute
    left: 0
    top: calc( 100% + 15px )
    background: var(--colorInput)
    width: 153px
    font-size: 14px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: start
    overflow: hidden
    border-radius: 8px
    z-index: 10
    transition: all .3s
    .option
        width: 100%
        height: 39px
        cursor: pointer
        padding-left: 41px
        line-height: 39px
        position: relative
        transition: .3s background

        &:hover
            background: var(--colorInputHover)
            & > span
                border: 1.5px solid #1F4F3B
        &:active
            background: var(--colorInputPressed)
        &__checkbox
            position: absolute
            left: 14px
            border-radius: 2px
            top: 50%
            transform: translateY(-50%)
            display: block
            width: 13px
            height: 13px
            border: 1.5px solid var(--colorText)
            transition: all .5s
            &::before
                content: ''
                position: absolute
                top: -1px
                left: 0
                width: 100%
                height: 1px
                transition: all .5s
            &::after
                content: ''
                position: absolute
                left: 0
                bottom: -1px
                height: 1px
                width: 100%
                transition: all .5s

        input
            position: absolute
            z-index: -1
            opacity: 0
            &:checked + span
                background: #1F4F3B
                border: 1.5px solid #1F4F3B
                &::after
                    height: 2px
                    background: #DAAF7C
                    transform: rotate(45deg) translate(-3px, -2px)
                    width: 50%
                    box-shadow: 0 0 0 transparent
                &::before
                    height: 2px
                    background: #DAAF7C
                    transform: rotate(-45deg) translate(-3px, 5px)
                    box-shadow: 0 0 0 transparent

#btn-add
    width: 137px
    height: 37px
    position: absolute
    right: 0
    top: 0
    padding: 9px 16px
    font-size: 16px
    text-align: left
    &::before,
    &::after
        content: ""
        display: block
        position: absolute
        top: 50%
        transform: translateY(-50%)
        background: var(--colorText)
    &::after
        height: 9px
        width: 2px
        right: 20px
    &::before
        height: 2px
        width: 10px
        right: 16px
