.modal
    position: fixed
    height: 100%
    width: 100%
    background: rgba(0, 0, 0, .5)
    left: 0
    top: 0
    z-index: 100
    display: flex
    justify-content: center
    align-items: center
    &__card
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        height: 600px
        width: 930px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 15px
        overflow: hidden
    &__description
        width: 414px
        height: 100%
    &__img-wrapper
        width: 516px
        height: 100%
    &__description
        padding: 56px 30px 40px
        background: linear-gradient(180deg, #24201F 38.54%, #000000 100%)
    &__title
        width: 354px
        line-height: 50px
        font-size: 50px
        text-align: center
        color: white
        margin-bottom: 48px
    &__specifications
        width: 100%
        height: 120px
        padding: 0 6px
        margin-bottom: 23px
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: .1px solid white
        height: 40px
        color: var(--colorWhite)
        &:last-of-type
            border-bottom: 0
    &__textContent
        font-size: 15px
        line-height: 25px
        width: 100%
        color: white
        word-break: break-all
    &__img
        height: 100%
        width: 100%
    &__close
        position: absolute
        z-index: 20
        height: 28px
        width: 28px
        border-radius: 50%
        border: 1px solid var(--colorInput)
        top: 31px
        right: 26px
        cursor: pointer
        background-color: Transparent
        cursor: pointer
        outline: none
        &::after,
        &::before
            position: absolute
            height: 12px
            width: 1px
            content: ""
            background: var(--colorInput)
            top: 50%
            left: 50%
        &::before
            transform: translate(-50%, -50%) rotate(45deg)
        &::after
            transform: translate(-50%, -50%)rotate(-45deg)

    &__tag1,
    &__tag2,
    &__tag3,
        height: 25px
        border-radius: 8px
        padding: 0 22px
        line-height: 25px
        font-size: 14px
        margin-bottom: 10px
    &__tag1
        background: #26514E

    &__tag2
        background: #123856
    &__tag3
        background: #512C38
    &__tags
        position: absolute
        display: block
        overflow: hidden
        right: 68px
        bottom: 44px
        display: flex
        flex-direction: column
        justify-content: end
        align-items: start
        div
            &:last-of-type
                margin-bottom: 0
