.newCard
    width: 1030px
    background: red
    display: flex
    background: linear-gradient(180deg, #2A2C35 52.6%, #000000 100%)
    position: relative
    &__description,
    &__preview
        width: 515px
        height: 100%
        padding: 38px 32px
    &__verticalLine
        position: absolute
        height: 635px
        width: 2px
        left: 50%
        top: 50%
        background: #494949
        transform: translate(-50%, -50%)
    &__newName
        height: 30px
        width: 100%
        position: relative
        &-label
            color: var(--colorInput)
            font-size: 14px
            margin-bottom: 3px
            position: relative
            width: 100%
            display: block
    &__btn
        position: absolute
        bottom: 38px
        right: 34px
        z-index: 100
    &__wrapper-for-filtrs
        display: flex
        justify-content: space-between
        align-items: start
        flex-direction: row
        margin-top: 15px
        width: 100%
        div
            &:last-child
                label
                    margin-right: 0
    &__newPhotoWrapper
        height: 100%
        width: 100%
        position: absolute
        left: 0
        bottom: 0
        background: #B09A81
    &__setNewPhoto
        position: absolute
        bottom: 10px
        left: 50%
        transform: translateX(-50%)
        height: 32px
        width: 85%
        z-index: 20
        border: 1px solid #462929
        border-radius: 6px
        background: rgba(176, 154, 129, .8)
        padding: 2px 10px
        color: #462929
        font-size: 14px
        box-shadow: inset 0 0 6px
    &__preview
        position: absolute
        right: 0
        top: 0
        display: flex
        justify-content: center
        align-items: center
        &_title
            font-size: 14px
            color: #B09A81
            position: absolute
            top: 38px
            left: 32px
        &_mainContent
            width: 450px
            height: 300px
            justify-content: center
            display: flex
            align-items: center
            border-radius: 8px

.label
    display: block
    position: relative
    input
        padding-left: 15px
    &__textarea
        margin: 15px 0 35px 0
        width: 100%
        height: 145px
        display: block
        maxlength: 10
    &__color
        color: var(--colorInput)
        font-size: 14px
        display: block
        position: relative
        margin-top: 8px
        &-text
            position: absolute
            left: 70px
            top: 50%
            transform: translateY(-50%)
    &_name

.input
    &__color
        width: 50px
        height: 30px
        border-radius: 8px
        -webkit-appearance: none
        -moz-appearance: none
        apparance: none
        background-color: transparent
        border: none
        cursor: pointer
        &::-webkit-color-swatch
            border-radius: 6px
            border: 2px solid var(--colorInput)
        &::-moz-color-swatch
            border-radius: 6px
            border: 2px solid var(--colorInput)

.textarea
    width: 100%
    height: 100%
    resize: none
    maxlength: 1
.descriptionBottom
    width: 100%
    display: grid
    grid-template-columns: 189px 225px
    grid-template-rows: 210px 30px
    row-gap: 10px
    column-gap: 30px
    margin-top: 40px
    &__img-wrapper
        cursor: pointer
        position: relative
        overflow: hidden
        border-radius: 6px
        p
            position: absolute
            top: -18px
            left: 0
            font-size: 14px
            color: #B09A81
    &__img
        display: block
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 100%
        img
            max-height: 100%
            max-width: 100%
    &__toChange
        position: absolute
        bottom: -40px
        left: 0
        width: 85px
        height: 30px
        padding: 6px 9px
        font-size: 14px
        border-radius: 4px
    &__toSave
        width: 85px
        padding: 6px 6px
        border-radius: 4px
        font-size: 14px
    &__btns
        display: flex
        justify-content: flex-end
        align-items: center
    &__colors
        position: relative
        &-title
            position: absolute
            left: 0
            top: -20px
            color: var(--colorInput)
            font-size: 14px
.error
    color: #A5260A
    font-size: 14px
.alignmentCenter
    display: flex
    flex-direction: column
    width: 31%
    label
        height: 30px
.currentSimvols
    display: flex
    position: absolute
    right: 0
    top: 0
    align-items: center
    justify-content: center
.align-items
    &__center
        display: flex
        flex-direction: column
        align-items: start
        justify-content: space-between
