.preview
    &__card
        height: 100%
        width: 100%
        color: white
        position: relative
        background: #B09A81
        border-radius: 6px
        overflow: hidden
    &__description
        width: 209px
        max-width: 209px
        height: 100%
        padding: 30px 16px 9px 16px
        background: #252020
    &__title
        text-align: center
        font-size: 25px
        line-height: 25px
        margin-bottom: 27px
    &__specifications
        width: 173px
        max-width: 173px
        padding: 3px 5px
        font-size: 8px
        margin-bottom: 11px
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 8px
    &__img-wrapper
        width: 241px
        max-width: 241px
        max-width: 100%
        position: absolute
        height: 100%
        right: 0
        top: 0
    &__img
        width: 100%
        height: 100%
        background: no-repeat
    &__textContent
        width: 100%
        max-width: 100%
        font-size: 8px
        word-break: break-all
    &__close
        display: none

    &__tag1,
    &__tag2,
    &__tag3,
        height: 14px
        border-radius: 4px
        padding: 0 10px
        line-height: 14px
        font-size: 8px
        overflow: hidden
        max-width: 100px
        margin-bottom: 7px
    &__tag1
        background: #26514E
    &__tag2
        background: #123856
    &__tag3
        background: #512C38
    &__tags
        position: absolute
        display: block
        max-width: 100%

        right: 20px
        bottom: 11px
        display: flex
        flex-direction: column
        justify-content: end
        align-items: start
        div
            &:last-of-type
                margin-bottom: 0

.previewSecond
    &__card
        height: 100%
        width: 225px
        color: white
        position: relative
        background: #B09A81
        border-radius: 8px
        overflow: hidden
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 8px
    &__description
        width: 100%
        max-width: 100%
        height: 100%
        padding: 16px 16px 9px 16px
        position: relative
    &__title
        width: 50%
        text-align: left
        font-size: 28px
        line-height: 30px
        position: absolute
        bottom: 95px
        left: 13px
        z-index: 20
    &__specifications
        width: 100%
        height: 84px
        max-width: 100%
        padding: 9px 11px
        font-size: 10px
        position: absolute
        bottom: 0
        left: 0
        display: flex
        flex-direction: column
        justify-content: space-between
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 10px
    &__img-wrapper
        width: 100%
        max-width: 100%
        position: absolute
        top: 0
        left: 0
        height: 216px
    &__img
        width: 100%
        height: 100%

    &__close
        display: none
    &__tags
        display: none
