@import _characters.sass

.slider
    width: 1270px
    max-width: 100%
    height: 627px
    margin: 0 auto
    position: relative
    &__nav
        position: absolute
        bottom: 21px
        left: 50%
        transform: translate(-50%, 0)
        width: 270px
        height: 40px
        display: flex
        justify-content: space-between
        align-items: center
    &__arrow
        border-bottom: 2px solid var(--colorInput)
        border-left: 2px solid var(--colorInput)
        cursor: pointer
        transform: rotate(45deg)
        z-index: 10
    &__wrapper
        height: 10px
        overflow: hidden
        position: relative
    &__items
        width: 100%
        position: absolute
        left: 0px
        top: 50%
        transform: translateY(-50%)
        display: flex
        justify-content: center
        align-items: center
    &__nav-circle
        height: 10px
        width: 10px
        border-radius: 50%
        background: var(--colorInput)
        cursor: pointer
        margin-right: 45px
        &:last-of-type
            margin-right: 0

    &__inner
        display: flex
        height: 552px
        position: absolute
        left: 0
        top: 0
        transition: .5s all
