@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap')
@import _root.sass
@import _title.sass
@import _btn.sass

*
    border: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Lora', serif
    outline: none
ul
    padding: 0

body

.container
    margin: 0 auto
    width: 1270px
    max-width: 100%

//Header

.header
    display: block
    width: 100%
    height: 75px
    padding: 24px 0 24px 221px
    display: flex
    justify-content: start
    align-items: center
    background: var(--colorBlack)
    position: relative
    border-bottom: 1px solid #555050
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08)
    &__logo
        height: 59px
        width: 129px
        position: absolute
        left: 40px
        top: 13px
    &__img
        width: 100%
        height: 100%
        object-fit: cover
        cursor: pointer
    &__nav
        height: 100%
        width: 100%
    &__links
        display: flex
        justify-content: start
        align-items: center
        list-style: none
    &__item
        margin-right: 33px
    &__link
        color: var(--colorInput)
        text-decoration: none
        font-size: 20px
        cursor: pointer
        transition: .3s color
        &:hover
            color: var(--colorInputHover)

// Main Promo
#root
    width: 100%

.promo
    width: 100%
    height: calc( 100vh - 75px )
    background: url(../../assets/icons/background/bg_mainPage.png)
    padding: 110px 0 0 221px
    &__light
        height: 10px
        width: 10px
        background: white
        position: absolute
        left: 1270px
        top: 395px
        border-radius: 50%
        box-shadow: 0 0 100px 0px white
        animation: light 2s ease-in infinite alternate-reverse
@keyframes light
    0%
        box-shadow: 0 0 100px 0px white
    100%
        box-shadow: 0 0 100px 70px white
@import _characters.sass
@import _slider.sass
@import _card.sass
@import _modal.sass
@import _newCard.sass
@import _previewNewCard.sass
